body {
    align-items: center;
}

.tiny-logo {
    width: 500px;
    /* or any size you prefer */
    height: auto;
    align-items: center;
}

.btn-drinks {
    background-color: #536a48;
    color: #ffedcf;
    border-radius: 20px;
    margin-top: 2rem;
    /* Add this line to move the button down */
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    font-family: Georgia, serif;
}

.btn-create {
    background-color: #536a48;
    color: #ffedcf;
    border-radius: 20px;
    margin-top: 2rem;
    /* Add this line to move the button down */
}